@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.bulb {
  position: absolute;
  left: -9999999px;
  visibility: hidden;
}

.earth {
  height: 100vh;
  background-image: url(https://store.donanimhaber.com/13/85/fa/1385fa6146b5feaa6dafcce390fdfc80.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  counter-reset: score;
}

.fas {
  color: orange;
  font-size: 32px;
  position: absolute;
}

.bulb1 {
  left: 46vw;
  top: 74vh;
  -webkit-animation: show 2s linear 0.5s both;
          animation: show 2s linear 0.5s both;
}

.bulb2 {
  left: 19vw;
  top: 4vh;
  -webkit-animation: show 2s linear 1s both;
          animation: show 2s linear 1s both;
}

.bulb3 {
  left: 2vw;
  top: 41vh;
  -webkit-animation: show 2s linear 1.5s both;
          animation: show 2s linear 1.5s both;
}

.bulb4 {
  left: 85vw;
  top: 10vh;
  -webkit-animation: show 2s linear 2s both;
          animation: show 2s linear 2s both;
}

.bulb5 {
  left: 8vw;
  top: 9vh;
  -webkit-animation: show 2s linear 2.5s both;
          animation: show 2s linear 2.5s both;
}

.bulb6 {
  left: 60vw;
  top: 1vh;
  -webkit-animation: show 2s linear 3s both;
          animation: show 2s linear 3s both;
}

.bulb7 {
  left: 29vw;
  top: 27vh;
  -webkit-animation: show 2s linear 3.5s both;
          animation: show 2s linear 3.5s both;
}

.bulb8 {
  left: 11vw;
  top: 10vh;
  -webkit-animation: show 2s linear 4s both;
          animation: show 2s linear 4s both;
}

.bulb9 {
  left: 17vw;
  top: 32vh;
  -webkit-animation: show 2s linear 4.5s both;
          animation: show 2s linear 4.5s both;
}

.bulb10 {
  left: 85vw;
  top: 35vh;
  -webkit-animation: show 2s linear 5s both;
          animation: show 2s linear 5s both;
}

.bulb11 {
  left: 76vw;
  top: 89vh;
  -webkit-animation: show 2s linear 5.5s both;
          animation: show 2s linear 5.5s both;
}

.bulb12 {
  left: 38vw;
  top: 5vh;
  -webkit-animation: show 2s linear 6s both;
          animation: show 2s linear 6s both;
}

.bulb13 {
  left: 25vw;
  top: 85vh;
  -webkit-animation: show 2s linear 6.5s both;
          animation: show 2s linear 6.5s both;
}

.bulb14 {
  left: 38vw;
  top: 56vh;
  -webkit-animation: show 2s linear 7s both;
          animation: show 2s linear 7s both;
}

.bulb15 {
  left: 18vw;
  top: 66vh;
  -webkit-animation: show 2s linear 7.5s both;
          animation: show 2s linear 7.5s both;
}

.bulb16 {
  left: 81vw;
  top: 86vh;
  -webkit-animation: show 2s linear 8s both;
          animation: show 2s linear 8s both;
}

.bulb17 {
  left: 26vw;
  top: 64vh;
  -webkit-animation: show 2s linear 8.5s both;
          animation: show 2s linear 8.5s both;
}

.bulb18 {
  left: 35vw;
  top: 46vh;
  -webkit-animation: show 2s linear 9s both;
          animation: show 2s linear 9s both;
}

.bulb:checked + .fas {
  -webkit-animation: fade-out 2s linear both;
          animation: fade-out 2s linear both;
  color: black;
}

.bulb:checked {
  counter-increment: score;
}

.count:after {
  content: counter(score);
  color: white;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  bottom: 32px;
}
/*# sourceMappingURL=style.css.map */